.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7c9b7;
  height: 98vh;
  font-family: 'Inter', sans-serif;
}
button {
  font-size: 18px;
  background-color: #c1dcfc;
  border-radius: 12px;
  border: none;
  padding: 2%;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button:hover {
  color: #fff;
  background: #1290d7;
  transition: all .1s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear; 
}

h1 {
  background-color: #f7d4ca;
  border-radius: 12px;
  border: none;
  padding: 2%;
  width: 50%;
  text-align: center;
}

p, h1{
  font-family: 'Inter', sans-serif;
}

